<%- include('components/head')  %> 
    
    <div class="container-md">
      <h1>Twitter</h1>
      <section>
        <form action="/admin" method="post">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >User Name</label
            >
            <input
              name="userName"
              class="form-control"
              placeholder="Enter User Name"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Enter Tweets</label
            >
            <textarea
              name="tweet"
              class="form-control"
              rows="3"
              placeholder="0 of 180 letters"
            ></textarea>

            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" type="submit">Tweet Me!</button>
            </div>
          </div>
        </form>
      </section>
    </div>
    <%- include('components/footer') %> 
