<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/app.min.css" rel="stylesheet" />
    <link href="/app.css" rel="stylesheet" />

    <title>Document</title>
  </head>
  <body>
    single tweets
    <hr />
    <br />

    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="/logo.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="display-5 fw-bold">
        tweet made by : <%=thisTweet.userName %>
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"><%= thisTweet.tweet %></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/admin">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">
              Go To Admin Panel
            </button>
          </a>
        </div>
      </div>
    </div>
    <script src="/app.min.js"></script>
  </body>
</html>
