<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.84.0" />
    <title>Twitter Clone</title>
    <link href="/app.min.css" rel="stylesheet" />
    <link href="/app.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <!-- <link href="/public/app.min.css" rel="stylesheet" /> -->
  </head>
  <body>
    <main>
      <h1 class="visually-hidden">Twitter Clone</h1>

      <div class="px-4 py-5 my-5 text-center">
        <img
          class="d-block mx-auto mb-4"
          src="/logo.svg"
          alt=""
          width="72"
          height="57"
        />
        <h1 class="display-5 fw-bold">Twitter Clone</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            البرمجة هي عملية كتابة تعليمات وتوجيه أوامر لجهاز الحاسوب أو أي جهاز
            آخر مثل قارئات أقراص الدي في دي أو أجهزة استقبال الصوت والصورة في
            نظم الاتصالات الحديثة، لتوجيه هذا الجهاز وإعلامه بكيفية التعامل مع
            البيانات أو كيفية تنفيذ سلسلة من الأعمال المطلوبة تسمى خوارزمية.
            وتتبع عملية البرمجة قواعد خاصة باللغة التي اختارها المبرمج. وكل لغة
            برمجة لها خصائصها التي تميزها عن الأخرى وتجعلها مناسبة بدرجات
            متفاوتة لكل نوع من أنواع البرامج وحسب المهمة المطلوبة من هذا
            البرنامج. كما أن اللغات البرمجية أيضا لها خصائص مشتركة وحدود مشتركة
            بحكم أن كل هذه اللغات صممت للتعامل مع الحاسوب. وتتطور لغات البرمجة
            التعامل بالنسبة للمبرمجين باللغات عالية المستوى.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/admin">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                Log In
              </button>
            </a>
          </div>
        </div>
      </div>
    </main>

    <!-- JavaScript Bundle with Popper -->
    <script src="/app.min.js"></script>
  </body>
</html>
